
services:
  db:
    image: postgres:16-alpine
    restart: always
    env_file:
      - ./env_vars/postgres.env
    ports:
      - "5432:5432"
    volumes:
      - ./scripts:/docker-entrypoint-initdb.d

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"